:root {
  color-scheme: light;
}

* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: moccasin;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h1,
h2,
h3,
h4,
p,
div {
  color: black;
  /* font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', SimHei, "微软雅黑", sans-serif; */
}

a {
  color: black;
  text-decoration: none;
}

.header {
  display: flex;
  align-items: center;
  background-color: burlywood;
  min-height: 80px;
}

.a-header {
  color: #fff;
  flex: 1;
  min-width: 0;
}

.glass-container {
  display: flex;
  align-items: center;
  border-radius: 12px;
  background-color: beige;
  border: 1px lightgrey solid;
  margin-bottom: 16px;
  margin-top: 16px;
}

.button {
  display: flex-end;
  margin: 12px;
  background-color: bisque;
  border-color: olive;
}

.primary-button {
  display: flex-end;
  margin: 12px;
  background-color: orange;
  border-color: olive;
}

.input {
  &::placeholder {
    color: gray !important;
  }
  &:focus,
  &:hover {
    background-color: mintcream !important;
  }
  width: 99.7%;
  min-width: 100px;
  border-style: none;
  outline-style: none;
  font-size: xx-large;
  font-weight: bold;
  background-color: moccasin;
  line-height: 1.6;
}

.toolbar {
  /* --w-e-toolbar-border-color: olive; */
  --w-e-toolbar-bg-color: moccasin;
  border-bottom: 1px solid #ccc;
  --w-e-toolbar-active-color: black;
}

.editor {
  &:focus,
  &:hover {
    --w-e-textarea-bg-color: mintcream;
  }
  --w-e-textarea-slight-color: gray;
  --w-e-textarea-bg-color: moccasin;
  height: 75vh;
  overflow: hidden;
}

.main {
  flex-grow: 1;
  max-height: calc(100vh - 60px);
  overflow-y: auto;
}

.blog-list {
  margin: auto;
  padding: 22px;
  width: 60%;
}

.blog-title {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 22px;
  min-height: 10%;
}

.blog-time {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 22px;
  padding-bottom: 22px;
}

.blog-item {
  background-color: beige;
  margin-left: 20%;
  margin-bottom: 40px;
  padding-top: 22px;
  padding-bottom: 22px;
  border-style: solid;
  border-color: grey;
  border-radius: 12px;
  border-width: 2px;
  padding: 16px;
  width: 60%;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  /* justify-content: center; */
  min-height: 80%;
}

.blog-edit {
  display: flex;
  flex-direction: row;
}

.blog-edit-item {
  flex: 1;
  padding: 2px;
}

.blog-edit-button {
  display: flex;
  margin: 1px;
  justify-content: space-evenly;
}

.blog-editor {
  border: 1px solid #ccc;
  z-index: 100;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
}

.footer-item {
  padding: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.li-item {
  display: flex;
}

.mail {
  color: grey;
}

.github {
  color: grey;
}

.heart {
  color: OrangeRed;
}
